<div id ="upload_section">
  <h2>Add a Picture:</h2>

  <%= direct_upload_form_for @uploader do |f| %>
    <p><%= f.file_field :image %></p>
    <p><%= f.submit "Upload your picture" %></p>
  <% end %>

</div>

<% @photos.each do |photo| %>
  <div class="photo">

    <p>
      <%= photo.file_name %>: <%= photo.image_name %>
    </p>

    <%= image_tag(photo.image_url, class: "photo_image") %>

  </div>
<% end %>
